Repository airRnot1106/yumemi-frontend-coding-test: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markuplint

biome:
  run: pnpm check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

markuplint:
  run: pnpm lint:markup
  stage_fixed: true

env: init vitest
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: biome

env: init storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  vitest.shims.d.ts
  vitest.workspace.ts
Due: biome, markuplint

feat: add panic-helper utils
  src/utils/panic-helper/index.ts
  src/utils/panic-helper/panic-helper.test.ts
  src/utils/panic-helper/panic-helper.ts
Due: biome

feat: add site-theme provider
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/features/site-theme/contexts.ts
  src/features/site-theme/hooks.ts
  src/features/site-theme/providers.tsx
  src/features/site-theme/types.ts
Due: biome, markuplint

feat: add result utils
  src/utils/result/index.ts
  src/utils/result/result.test.ts
  src/utils/result/result.ts
Due: biome

env: install zod
  package.json
  pnpm-lock.yaml
Due: biome

env: init svgr
  .storybook/main.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  svgr.d.ts
Due: biome

env: add environment variables
  .storybook/main.ts
  src/libs/api/api.ts
  src/libs/api/index.ts
Due: biome

env: install lucide-react
  package.json
  pnpm-lock.yaml
Due: biome

env: install recharts
  package.json
  pnpm-lock.yaml
Due: biome

feat: add button
  src/components/atoms/button/_base/_variant/_abstract/button.recipe.ts
  src/components/atoms/button/_base/_variant/_abstract/button.stories.tsx
  src/components/atoms/button/_base/_variant/_abstract/button.tsx
  src/components/atoms/button/_base/_variant/_abstract/index.ts
  src/components/atoms/button/_base/_variant/ghost/ghost-button.stories.tsx
  src/components/atoms/button/_base/_variant/ghost/ghost-button.tsx
  src/components/atoms/button/_base/_variant/ghost/index.ts
  src/components/atoms/button/_base/_variant/index.ts
  src/components/atoms/button/_base/_variant/normal/index.ts
  src/components/atoms/button/_base/_variant/normal/normal-button.stories.tsx
  src/components/atoms/button/_base/_variant/normal/normal-button.tsx
  src/components/atoms/button/_base/button.stories.tsx
  src/components/atoms/button/_base/button.tsx
  src/components/atoms/button/_base/index.ts
  src/components/atoms/button/index.ts
Due: biome, markuplint

env: init nuqs
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: biome, markuplint

env: install @tanstack/react-form
  package.json
  pnpm-lock.yaml
Due: biome

feat: add link-button
  src/components/atoms/link-button/_base/_variant/_abstract/index.ts
  src/components/atoms/link-button/_base/_variant/_abstract/link-button.stories.tsx
  src/components/atoms/link-button/_base/_variant/_abstract/link-button.tsx
  src/components/atoms/link-button/_base/_variant/ghost/ghost-link-button.stories.tsx
  src/components/atoms/link-button/_base/_variant/ghost/ghost-link-button.tsx
  src/components/atoms/link-button/_base/_variant/ghost/index.ts
  src/components/atoms/link-button/_base/_variant/index.ts
  src/components/atoms/link-button/_base/_variant/normal/index.ts
  src/components/atoms/link-button/_base/_variant/normal/normal-link-button.stories.tsx
  src/components/atoms/link-button/_base/_variant/normal/normal-link-button.tsx
  src/components/atoms/link-button/_base/index.ts
  src/components/atoms/link-button/_base/link-button.stories.tsx
  src/components/atoms/link-button/_base/link-button.tsx
  src/components/atoms/link-button/index.ts
Due: biome, markuplint

feat: add site-theme-toggle-button
  src/features/site-theme/components/atoms/site-theme-toggle-button/index.ts
  src/features/site-theme/components/atoms/site-theme-toggle-button/site-theme-toggle-button.stories.tsx
  src/features/site-theme/components/atoms/site-theme-toggle-button/site-theme-toggle-button.tsx
Due: biome, markuplint

feat: add site-footer
  src/features/site/components/molecules/site-footer/index.ts
  src/features/site/components/molecules/site-footer/site-footer.stories.tsx
  src/features/site/components/molecules/site-footer/site-footer.tsx
Due: biome, markuplint

feat: add site-header
  src/assets/svg/github-mark.svg
  src/features/site/components/molecules/site-header/index.ts
  src/features/site/components/molecules/site-header/site-header.stories.tsx
  src/features/site/components/molecules/site-header/site-header.tsx
Due: biome, markuplint

deploy: 431173daf0126b27df6e9284b68a3e010bcd5742
  project.json
Due: biome

deploy: 7c7408135bc3f13f521487a46c069a4fa5ac426c
  assets/Color-YHDXOIA2-DApvRgN9.js
  assets/Color-YHDXOIA2-DOchUIfq.js
  assets/DocsRenderer-CFRXHY34-Dlk6KCDL.js
  assets/entry-preview-C0gx3K2s.js
  assets/entry-preview-CH7As1se.js
  assets/iframe-J_0m914O.js
  assets/population-composition-area.stories-BzcaSXnu.js
  assets/population-composition-area.stories-DgsXIDo7.js
  assets/population-composition-chart.presentational-DEFDJqNw.js
  assets/population-composition-chart.stories-D2FRj0UA.js
  assets/preview-B00b-azR.js
  assets/preview-BA-bSZez.js
  assets/preview-BUmedfst.js
  assets/preview-C9L-TrZh.js
  iframe.html
  project.json
Due: biome, markuplint

deploy: b1a4a66de6c7db6901e076dc4118b55fa70807ae
  assets/Color-YHDXOIA2-Czj3IGrO.js
  assets/Color-YHDXOIA2-DOchUIfq.js
  assets/DocsRenderer-CFRXHY34-CNRnoCms.js
  assets/entry-preview-BAo3YhZr.js
  assets/entry-preview-CH7As1se.js
  assets/iframe-Bq8rtlm3.js
  assets/preview-BA-bSZez.js
  assets/preview-BUmedfst.js
  assets/preview-C2ENC1Q5.css
  assets/preview-C330-Yff.js
  assets/preview-CKTo0C93.js
  assets/preview-DYOsRWMV.css
  assets/preview-lz1k7b_V.js
  iframe.html
  project.json
Due: biome, markuplint

feat: add site-layout
  src/features/site/components/molecules/site-layout/index.ts
  src/features/site/components/molecules/site-layout/site-layout.stories.tsx
  src/features/site/components/molecules/site-layout/site-layout.tsx
Due: biome, markuplint

feat: add heading
  src/components/atoms/heading/_base/heading.stories.tsx
  src/components/atoms/heading/_base/heading.tsx
  src/components/atoms/heading/_base/index.ts
  src/components/atoms/heading/index.ts
Due: biome, markuplint

feat: add checkbox
  src/components/atoms/checkbox/_base/checkbox.stories.tsx
  src/components/atoms/checkbox/_base/checkbox.tsx
  src/components/atoms/checkbox/_base/index.ts
  src/components/atoms/checkbox/index.ts
Due: biome, markuplint

feat: add selectbox
  src/components/atoms/selectbox/_base/index.ts
  src/components/atoms/selectbox/_base/selectbox.stories.tsx
  src/components/atoms/selectbox/_base/selectbox.tsx
  src/components/atoms/selectbox/index.ts
Due: biome, markuplint

feat: add prefecture schemas, mocks, fetchers
  src/features/prefecture/fetchers.ts
  src/features/prefecture/mocks.ts
  src/features/prefecture/schemas.ts
Due: biome

deploy: 44163796683cdb76104cc2329f71ee0e5bf7dbc0
  assets/Color-YHDXOIA2-CE9BIL5E.js
  assets/Color-YHDXOIA2-Czj3IGrO.js
  assets/DocsRenderer-CFRXHY34-2aj3DWUC.js
  assets/entry-preview-Ab3Tw8R9.js
  assets/entry-preview-BAo3YhZr.js
  assets/iframe-D1lG4k-l.js
  assets/prefecture-form.presentational-CD5AbAhr.js
  assets/prefecture-form.stories-B_DuJ8sR.js
  assets/prefecture-section.stories-FDgarFlc.js
  assets/preview-BalNvt2O.js
  assets/preview-C1R2ZJ4G.js
  assets/preview-C330-Yff.js
  assets/preview-CWctSXUu.css
  assets/preview-DYOsRWMV.css
  assets/preview-iIqS99xM.js
  assets/preview-lz1k7b_V.js
  assets/site-layout.stories-BIdpBgoH.js
  assets/site-layout.stories-DSQyDCyW.js
  iframe.html
  project.json
Due: biome, markuplint

feat: add population-composition-selectbox
  src/features/population-composition/components/atoms/population-composition-selectbox/index.ts
  src/features/population-composition/components/atoms/population-composition-selectbox/population-composition-selectbox.container.tsx
  src/features/population-composition/components/atoms/population-composition-selectbox/population-composition-selectbox.presentational.tsx
  src/features/population-composition/components/atoms/population-composition-selectbox/population-composition-selectbox.stories.tsx
Due: biome, markuplint

feat: add prefecture-section
  src/features/prefecture/components/molecules/prefecture-section/index.ts
  src/features/prefecture/components/molecules/prefecture-section/prefecture-section.stories.tsx
  src/features/prefecture/components/molecules/prefecture-section/prefecture-section.tsx
Due: biome, markuplint

feat: add prefecture-form
  src/features/prefecture/components/molecules/prefecture-form/index.ts
  src/features/prefecture/components/molecules/prefecture-form/prefecture-form.container.tsx
  src/features/prefecture/components/molecules/prefecture-form/prefecture-form.fetcher.tsx
  src/features/prefecture/components/molecules/prefecture-form/prefecture-form.presentational.tsx
  src/features/prefecture/components/molecules/prefecture-form/prefecture-form.stories.tsx
  src/features/prefecture/consts.ts
Due: biome, markuplint

feat: add population-composition-area
  src/features/population-composition/components/molecules/population-composition-area/index.ts
  src/features/population-composition/components/molecules/population-composition-area/population-composition-area.stories.tsx
  src/features/population-composition/components/molecules/population-composition-area/population-composition-area.tsx
Due: biome, markuplint

feat: add population-composition-header
  src/features/population-composition/components/molecules/population-composition-header/index.ts
  src/features/population-composition/components/molecules/population-composition-header/population-composition-header.stories.tsx
  src/features/population-composition/components/molecules/population-composition-header/population-composition-header.tsx
Due: biome, markuplint

feat: add population-composition-chart
  src/features/population-composition/components/molecules/population-composition-chart/index.ts
  src/features/population-composition/components/molecules/population-composition-chart/population-composition-chart.fetcher.tsx
  src/features/population-composition/components/molecules/population-composition-chart/population-composition-chart.presentational.tsx
  src/features/population-composition/components/molecules/population-composition-chart/population-composition-chart.stories.tsx
  src/features/population-composition/components/molecules/population-composition-chart/utils.ts
Due: biome, markuplint

feat: add population-composition schemas, mocks, fetchers, consts
  src/features/population-composition/consts.ts
  src/features/population-composition/fetchers.ts
  src/features/population-composition/mocks.ts
  src/features/population-composition/schemas.ts
Due: biome

feat: add error.tsx
  src/app/error.tsx
Due: biome, markuplint

feat: update title and description
  src/app/layout.tsx
Due: biome, markuplint

env: add ci workflow
  .github/workflows/main.yaml
Due: none

feat: add rootSearchParamsCache
  src/app/search-params.ts
Due: biome

refactor: change width of population-composition-chart so that it is not too narrow
  src/app/page.tsx
Due: biome, markuplint

feat: update layout and page
  src/app/layout.tsx
  src/app/page.tsx
Due: biome, markuplint

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  markuplint: any of: *.{html,jsx,tsx}
