Repository airRnot1106/yumemi-frontend-coding-test: changes, and which lefthook commands are due for each by the changed paths.
All: biome, markuplint

biome:
  run: pnpm check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

markuplint:
  run: pnpm lint:markup
  stage_fixed: true

env: add deploy-storybook workflow
  .github/workflows/deploy-storybook.yaml
Due: none

feat: add text when prefecture is not selected
  src/app/page.tsx
Due: biome, markuplint

deploy: 057fd89a9eaca7deaeefcea27d102e0a34177a35
  assets/Color-YHDXOIA2-CE9BIL5E.js
  assets/Color-YHDXOIA2-DhbXx9dv.js
  assets/DocsRenderer-CFRXHY34-d6iFg_LB.js
  assets/entry-preview-6s0IT562.js
  assets/entry-preview-Ab3Tw8R9.js
  assets/iframe-1kD1Em7P.js
  assets/prefecture-form.stories-B_DuJ8sR.js
  assets/prefecture-form.stories-JeUdgps7.js
  assets/preview-BAgsxsJt.js
  assets/preview-BalNvt2O.js
  assets/preview-HBFIOmVc.js
  assets/preview-iIqS99xM.js
  iframe.html
  project.json
Due: biome, markuplint

env: add vercel-ignore-build-step.sh
  vercel-ignore-build-step.sh
Due: none

deploy: 68468e73ee3c0a342323bbfcd7a27a1fb8805fda
  project.json
Due: biome

feat: update font
  src/app/layout.tsx
Due: biome, markuplint

deploy: 1a50bdf576c5e728488d2206e3c00fec8ad3b016
  project.json
Due: biome

deploy: d150cdbccb9fea9f027a60caffe89eba50578743
  project.json
Due: biome

feat: update README.md
  .env.local.sample
  README.md
Due: none

deploy: a5f328e8552d6b1ea5960e7795f08620c9deb2bf
  project.json
Due: biome

env: add LICENSE
  LICENSE
Due: none

deploy: 6d8c84dbae72b720f5141470180cabb68a96a15c
  project.json
Due: biome

Fix React Server Components CVE vulnerabilities
  package.json
  pnpm-lock.yaml
Due: biome

deploy: 5c8b0ad90ee7d8231618ce67fc318f1a67854777
  assets/Color-YHDXOIA2-DhbXx9dv.js
  assets/Color-YHDXOIA2-DwaIK2c4.js
  assets/DocsRenderer-CFRXHY34-b_6XZT0G.js
  assets/entry-preview-6s0IT562.js
  assets/entry-preview-WY0KwK2j.js
  assets/iframe-ZwBycA_L.js
  assets/population-composition-area.stories-B2Gpts6r.js
  assets/population-composition-area.stories-BzcaSXnu.js
  assets/population-composition-chart.presentational-DNWdfQnJ.js
  assets/population-composition-chart.stories-GAY9azJg.js
  assets/prefecture-form.presentational-CD5AbAhr.js
  assets/prefecture-form.presentational-DkyFxUgO.js
  assets/prefecture-form.stories-CngIyj0i.js
  assets/prefecture-section.stories-DNRBoknt.js
  assets/preview-BAgsxsJt.js
  assets/preview-CNVDX-GN.js
  assets/preview-DMzcn31j.js
  assets/preview-HBFIOmVc.js
  assets/preview-O0K9XTtQ.js
  assets/preview-sWb4Tdc9.js
  iframe.html
  project.json
  sb-addons/chromatic-com-storybook-9/manager-bundle.js
Due: biome, markuplint

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  markuplint: any of: *.{html,jsx,tsx}
